{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title_html %}
    Liste des Vérifications
{% endblock %}

{% block content %}

    <h2>Liste des Vérifications pour {{ url }}</h2>
        {% for verification in verifications %}
        <div class="card mb-6">
            <div class="card-body">
                <h5 class="card-title"> {{ verification }}</h5>
                <div class="card-text">
                    <div class="row row-wrap">
                        
                        <div class="col">
                            Code HTTP
                            <div>
                                {{ verification.http_code }}
                            </div>
                        </div>
                        <div class="col">
                            Temps d'affichage
                            <div>
                                {{ verification.display_time }} ms
                            </div>
                        </div>
                        <div class="col">
                            Contenu reponse vide:
                            <div>
                                {{ verification.content }}
                                 
                            </div>
                        </div>
                        <div class="col">
                            Date expiration du certificat SSL:
                            <div>
                                {{ verification.ssl_expiration_date }}
                            </div>
                        </div>
                        <div class="col">
                            status vérification:
                            <div>
                                {{ verification.status }}
                            </div>
                        </div>
                        </div class="col-12">
                            description vérification:
                            <div>
                                
                                {{ verification.description }}
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

{% endblock content %}